Package: esmlt
Version: 0.1.0
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan
Description: Data deduplication tool that runs many more-like-this queries agains elasticsearch in parallel.
